{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="sign_in">

   <form class="container"  action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <div class="card">
        <a class="login">Log in</a>
        <div class="inputBox">
            <input type="text" name="username" required="required">
            <span class="user">Username</span>
        </div>

        <div class="inputBox">
            <input type="password"  name="password" required="required">
            <span>Password</span>
        </div>

        <button class="enter" type="submit">Login</button>

    </div>
</form>


</div>
</body>
</html>